@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    background-color: #423f3e;
    font-family: 'Roboto', sans-serif;
}

h1 {
  padding-top: 100px;
  font-size: 60px;
  color: rgb(211, 211, 211);
  text-align: center;
}
